{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "singleAttributePerLine": false,
  "trailingComma": "all",
  "printWidth": 900,
  "cursorOffset": 5,
  "htmlWhitespaceSensitivity": "ignore"
}
