{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "singleAttributePerLine": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "cursorOffset": 5,
  "htmlWhitespaceSensitivity": "ignore"
}
